[submodule "proto/cosmos-proto"]
	path = proto/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto.git
	branch = main
[submodule "proto/chain"]
	path = proto/chain
	url = https://github.com/bandprotocol/chain.git
	branch = master
[submodule "proto/ics23"]
	path = proto/ics23
	url = https://github.com/cosmos/ics23.git
[submodule "proto/gogoproto"]
	path = proto/gogoproto
	url = https://github.com/cosmos/gogoproto
[submodule "proto/cosmos-sdk"]
	path = proto/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "proto/ibc-go"]
	path = proto/ibc-go
	url = https://github.com/cosmos/ibc-go.git
