.App {
  height: 100vh;
  padding: 30px;
}

a {
  color: #4520e6;
}

.card {
  margin-bottom: 40px;
}

.sidebar {
  padding: 10px;
  border-radius: 8px;
  min-height: 400px;
}

.sidebar-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-list li {
  margin-bottom: 10px;
}

.sidebar-list li a {
  text-decoration: none;
}

.ref-sec {
  color: #dadada;
  cursor: pointer;
  text-decoration: none;
}

.preview {
  background-color: #f7f5fd;
  border-top: 1px solid #d9d2fa;
  padding: 30px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #4520e7;
  border-color: #4520e7;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-small {
  padding: 5px 8px;
  font-size: 14px;
}

.preview-code-block {
  display: flex;
}

.uploadfile {
  border: 1px solid #d9d2fa;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 30px;
  background-color: #f1eeff;
  border-radius: 6px;
  padding: 30px;
}
